body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;  /* Wider container */
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    display: flex;  /* Flexbox layout for left-right sections */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header, .profile-info {
    width: 35%;  /* Left section width */
    padding: 20px;
    background-color: #2b3a42;  /* Dark blue background */
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile img {
    width: 150px;
    height: 170px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 5px solid #fff;
}

h1 {
    font-size: 26px;
    margin: 10px 0;
    text-transform: uppercase;
}

h2 {
    font-size: 18px;
    color: #2b3a42;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid #2b3a42;
    padding-bottom: 5px;
}

.contact-info, .education, .skills, .experience, .about, .informasi-umum, .kontak, .education-history {
    margin-bottom: 20px;
    padding: 0 20px;
}

.section-title {
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
}

.experience .item, .skills ul {
    margin: 10px 0;
    padding: 10px;
    background-color: #f4f4f9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.item h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.item p {
    margin: 5px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #666;
}

.right-column {
    width: 65%;  /* Right section width */
    padding: 20px;
    background-color: #fff;
}
